.nombre {
    font-family:'Times New Roman', Times, serif;
    color: black;
    background-color: orange;
    display: flex;
    align-content: center;
    justify-content: center;
}
body{
    background-color: rgb(0, 0, 0);
    color: orange;
}
.columnas{
    color: orange;
}
/* .display{
    color:black;
} */
.btn-primary{
    color:black
}
.btn-danger{
    color: black;
}
.table{
    color:black;
}
thead{
    color:black;
}
.table-primary{
    
    background-color: grey;
}
.nav{
    color:red;
}

.titulo-ses{
    align-self: center;
}
.navbar-negro{
    background-color: rgb(43, 42, 42) !important;
}

.navbar-brand{
    color: orange !important;
}

.titulo1{
    color: orange;
    font-size: 2.5rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    color: orange;
}
 .table-primary>th {
    background-color: rgb(255, 187, 0) !important;
}
.table-primary tbody+tbody, .table-primary td, .table-primary th, .table-primary thead th{
    border-color: orange;
}

a {
    color: white;
    text-decoration: none;
}
a:hover{
    color: red;
}

.bg-dark{
    background-color: rgb(43, 42, 42) !important;
}

.cardpatro{
    width: 200px !important;
}

footer a, #nav a{
    color: white;
}

footer a:hover, #nav a:hover{
    color: red;
}

.card{
    background-color: black;
    color: orange;
    border-color: gold;
}

.card-text{
    color: rgb(255, 255, 255);
}

.card:hover{
    transition: transform 0.5s ease;
    transform: scale(1.10);
}

.boton:hover{
    color: orange;
}

.link{
    color:black !important;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
    align-items: center;
    justify-content: center;
}